h1,h2,h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
   color: blue
}
.main {
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 60%;
}
.paragraph{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.35em;
 text-align: justify 
}
.image{
    width: 50%;
    height: 50%;
}
.big-image{
    width: 45%;
    height: 45%;
}
.small-image{
    width: 70%;
    height: 70%;
}
.table-text{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
}
.table-header{
    font-size: 1.85em;
    font-family: 'Times New Roman', Times, serif;
}
@media screen and (max-width: 600px) {
    .main {
      width: 90%;
    }
    .table-text{
        font-size: 1em;
    }
    .table-header{
        font-size: 1.25em;

    }
    .paragraph{
        font-size: 1em;
       }
}
